<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.minghui_liu.android.lemonweather"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.SEARCH"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.minghui_liu.android.lemonweather.MainActivity"/>
        </activity>

        <meta-data android:name="android.app.default_searchable"
                   android:value=".MainActivity"/>

        <!-- Provides search suggestions for words and their definitions. -->
        <provider android:name=".database.CityProvider"
                  android:authorities="com.minghui_liu.android.lemonweather.database.CityProvider"/>

        <receiver android:process=":remote" android:name="AlarmReceiver"/>

    </application>

</manifest>
